{% extends "base.html" %}
{% load static %}

{% block content %}
  <a class="float-right mr-4 mt-2" href="{% url 'logout'%}" title="Выйти">
    <img src="{% static "img/logout_icon.png" %}" width="45">
  </a>

  <div class="ml-5 mr-5 mt-5">

    {% if need_vk_link %}
        <div class="container text-center mt-5 p-5">
          <h1 class="text-white mb-3">Авторизируйтесь через "ВКонтакте":</h1>
          <a class="mr-4 mt-5" href="vk_link/" title="Войти через ВКонтакте">
            <img src="{% static "img/vk_logo.png" %}" width="150">
          </a>
        </div>

    {% else %}
      <h2 class="text-large ml-5 mt-0">{{ user.get_username }}</h2>

      <p class="h4 text-white ml-5 mt-4">Ваш аккаунт "ВКонтакте" привязан.<br>
        Чтобы провести анализ записи,
        вставьте ссылку в поле:
      </p>
      <p></p>


      <form method="GET" action="results/">
      <div class="purple-border mr-5 ml-5 text-center">
      <input class="form-control text-center text-red" id="url_field" name="url_field" type="text" placeholder="Ссылка на запись">
      <div class="invalid-feedback has-error-regex" style="display: inline-block; color: white;"></div>

      </div>
      <button type="submit" class="float-right transparent_button btn pl-4 pr-4 pt-2 pb-2 mb-4 mt-3 mr-5">Готово</button>
      </form>


  </div>

        <script src="{% static "js/bootstrap-validate.js"%}"></script>
        <script>

          bootstrapValidate('#url_field', 'regex:wall-\\w+:Некорректная ссылка')

        </script>
    {% endif %}
{% endblock %}
