{% extends "base.html" %}

{% load static %}

{% block scripts %}

<script>
$(document).ready(function(){
  var oilCanvas = document.getElementById("oilChart");

  Chart.defaults.global.defaultFontFamily = "Lato";
  Chart.defaults.global.defaultFontSize = 18;

  var oilData = {
      labels: [
          "Негативные",
          "Позитивные",
          "Нейтральные"

      ],
      datasets: [
          {
              data: [
                    {{ negative }},
                    {{ positive }},
                    {{ neutral }},
              ],
              backgroundColor: [
                  "#EF4566",
                  "#83AE9B"
                  ]
          }]
  };

  var pieChart = new Chart(oilCanvas, {
    type: 'pie',
    data: oilData
  });

  var donutCanvas = document.getElementById("donutChart");

  Chart.defaults.global.defaultFontFamily = "Lato";
  Chart.defaults.global.defaultFontSize = 18;

  var donutData = {
      labels: [
          "Негативные",
          "Позитивные"
      ],
      datasets: [
          {
              data: [
                    {{ negative }},
                    {{ positive }},
              ],
              backgroundColor: [
                        "#EF4566",
                        "#83AE9B"
              ],
              borderColor: "white",
              borderWidth: 2
          }]
  };

  var chartOptions = {
    rotation: -Math.PI,
    cutoutPercentage: 30,
    circumference: Math.PI,
    legend: {
      position: 'left'
    },
    animation: {
      animateRotate: false,
      animateScale: true
    }
  };

  var donutChart = new Chart(donutCanvas, {
    type: 'doughnut',
    data: donutData,
    options: chartOptions
  });
});
</script>

{% endblock scripts %}

{% block content %}

  <div class="results-background mt-5 ml-5 mr-5 mb-3 p-3">

    <h3 class="text-center mb-3">Распределение комментариев по трем классам: </h3>
    <canvas class="mb-2" id="oilChart" width="300" height="200"></canvas>
  </div>

  <div class="results-background mr-5 ml-5 mb-3 mt-0 pt-3 pb-0">
    <h3 class="text-center mb-0">Соотношение негативных и позитивных комментариев: </h3>
    <canvas id="donutChart" width="300" height="200"></canvas>
  </div>

  <div class="results-background mt-0 ml-5 mr-5 mb-3 p-3">


      <h4 class="text-center">
      <a class="raspberry-font font-weight-bold" data-toggle="collapse" href="#negativeCollapse" role="button" aria-expanded="false" aria-controls="collapseExample">
          Показать негативные комментарии
      </a>
    </h4>

    <div class="collapse" id="negativeCollapse">
        <div class="transparent_background card card-body">
            {% for item in negative_comments %}

            <p>'{{item}}'</p>
            <hr>


            {% endfor %}
        </div>
    </div>
  </div>

  <div class="results-background mt-0 ml-5 mr-5 mb-3 p-3">
    <h4 class="text-center">
    <a class="cold-green-font font-weight-bold" data-toggle="collapse" href="#positiveCollapse" role="button" aria-expanded="false" aria-controls="collapseExample">
        Показать позитивные комментарии
    </a>
    </h4>

    <div class="collapse" id="positiveCollapse">
      <div class="transparent_background card card-body">
          {% for item in positive_comments %}

          <p>'{{item}}'</p>
          <hr>


          {% endfor %}
      </div>
    </div>

{% endblock content %}
