{% extends "base.html" %}

{% block content %}

{% if form.errors %}
  <p>Неверное имя пользователя или пароль.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p class="text-center mt-2">У вас нет доступа к этой странице. Пожалуйста, войдите в аккаунт.</p>
  {% else %}
  {% endif %}
{% endif %}


<div class="container text-center mt-5 pt-2">
  <h3 class="text-white mb-3">Вход в аккаунт</h3>
<form method="post" action="{% url 'login' %}" class="flex-form">
{% csrf_token %}
<div class="control-group">
    <label class="control-label mb-0 text-white" for="id_username">
        {{ form.username.label_tag }}
    </label>
    <div class="controls mb-1">
        {{ form.username }}
    </div>
</div>
<div class="control-group">
    <label class="control-label mb-0 text-white" for="id_password">
        {{ form.password.label_tag }}
    </label>
    <div class="controls">
        {{ form.password }}
    </div>
</div>

<button type="submit" class="transparent_button btn pl-4 pr-4 mb-4 mt-3" value="login">Войти</button>
<input type="hidden" name="next" value="{{ next }}" />
<p class="mb-2 text-black">Нет аккаунта? <a href="/account/signup/" class="text-white">Регистрация</a></p>
</form>
</div>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}" class="flex-form text-white">Забыли пароль?</a></p>

{% endblock %}
