{% extends 'base.html' %}

{% block content %}

<div class="container text-center mt-5 pt-2">
  <h3 class="text-white mb-3">Регистрация</h3>
    {% if form.errors %}
        {% for field in form %}
            <p>{{field.errors}}</p>
        {% endfor %}
    {% endif %}
<form method="post" class="flex-form">
  {% csrf_token %}

    <div class="control-group">
      <label class="control-label mb-0 text-white" for="id_username">
          {{ form.username.label_tag }}
      </label>
      <div class="controls mb-1">
          {{ form.username }}
      </div>
    </div>

    <div class="control-group">
      <label class="control-label mb-0 text-white" for="id_password1">
          {{ form.password1.label_tag }}
      </label>
      <div class="controls">
          {{ form.password1 }}
      </div>
    </div>

    <div class="control-group">
        <label class="control-label mb-0 text-white" for="id_password2">
            {{ form.password2.label_tag }}
        </label>
        <div class="controls">
            {{ form.password2 }}
        </div>
    </div>

  <button type="submit" class="transparent_button btn pl-4 pr-4 mb-4 mt-3" value="signup">Отправить</button>
  <input type="hidden" name="next" value="{{ next }}" />
</form>
</div>

{% endblock content %}






