<!doctype html>
{% load static %}
{% autoescape off %}
{% block head %}

<head>
  <title>{% block title %}{% endblock %}</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css"%}">
    <link rel="stylesheet" href="{% static "css/custom.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/Chart.min.css" %}" />

    <script src="{% static "js/jquery.min.js"%}"></script>
    <script src="{% static "js/bootstrap.min.js"%}"></script>
    <script src="{% static "js/Chart.min.js"%}"></script>

</head>

{% endblock %}
  <body class="error-con">
    <nav  class="navbar navbar-expand-md navbar-light sticky-top mb-0 pb-0" >
      <a class="nav-link navbar-brand" href="/"><img src="{% static "img/logo.png" %}" width="55" height="55"></a>
      <span class="text-white navbar-text font-weight-bold">SENTIMENTS.SPACE</span>
        <ul class="navbar-nav ml-auto">
        {% csrf_token %}
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="/account/" title="Аккаунт">
              <img src="{% static "img/account_icon.png" %}" width="50" height="50">
            </a>
          </li>
        {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login'%}?next={{request.path}}" title="Аккаунт">
                <img src="{% static "img/account_icon.png" %}" width="50" height="50">
              </a>
            </li>
        {% endif %}
      </ul>
</nav>

    {% block scripts %}  {% endblock scripts %}

    {% block content %} {% endblock %}


    <footer class="page-footer font-small mt-3">
    <div class="footer-copyright text-center p-3">© 2020 Copyright: SENTIMENTS.SPACE</div>
    </footer>
  </body>
</html>
{% endautoescape %}
