{% extends "base.html" %}

{% block scripts %}

<script>

$(document).ready(function(){

  var donutCanvas = document.getElementById("donutChart");

  Chart.defaults.global.defaultFontFamily = "Lato";
  Chart.defaults.global.defaultFontSize = 18;

  var donutData = {
      labels: [
          ":(",
          ":)"
      ],
      datasets: [
          {
              data: [
                    50,
                    50,
              ],
              backgroundColor: [
                        "#EF4566",
                        "#83AE9B"
              ],
              borderColor: "white",
              borderWidth: 2
          }]
  };

  var chartOptions = {
    rotation: -Math.PI,
    cutoutPercentage: 30,
    circumference: Math.PI,
    legend: {
      position: 'left'
    },
    animation: {
      animateRotate: false,
      animateScale: true
    }
  };

  var donutChart = new Chart(donutCanvas, {
    type: 'doughnut',
    data: donutData,
    options: chartOptions
  });
});

</script>

{% endblock scripts %}


{% block content %}

    <div class="jumbotron ml-5 mr-5 mt-4 pb-0">
    <h2 class="font-weight-bold mb-3">SENTIMENTS.SPACE</h2>
    <p>Веб-приложение для анализа тональности текстового контента социальных сетей. <br>
      Чтобы воспользоваться сервисом, выполните вход в свой аккаунт или зарегистрируйтесь.
    </p>
    <p>
      Данная версия представляет собой MVP проекта.
    </p>
    <canvas id="donutChart" width="300" height="200"></canvas>
  </div>

{% endblock %}
