@import url('https://fonts.googleapis.com/css?family=Montserrat');

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: 'Montserrat', sans-serif;
  background:-webkit-radial-gradient(circle farthest-side at right center, rgb(131, 174, 155) 0%, rgba(239, 69, 102, 0.95) 100%);
background:-o-radial-gradient(circle farthest-side at right center, rgb(131, 174, 155) 0%, rgba(239, 69, 102, 0.95) 100%);
background:-moz-radial-gradient(circle farthest-side at right center, rgb(131, 174, 155) 0%, rgba(239, 69, 102, 0.95) 100%);
background:radial-gradient(circle farthest-side at right center, rgb(131, 174, 155) 0%, rgba(239, 69, 102, 0.95) 100%);
}

footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  color: white;
  font-size: large;
  background: rgba(255, 255, 255, 0.07);
}


.responsive {
    margin-top: 1rem;
    width: 100%;
    max-width: 600px;
    height: auto;
}


.flex-form{
  display:flex;
  flex-direction:column;
  align-items: center;
}

.flex-form input{
  padding: 4px;
  height: 35px;
  width: 250px;
  background: rgba(255, 255, 255, 255);
  border-radius: 5px;
}

.item{
  min-width: 100px;
  padding: 4px;
  margin-bottom:  10px;
}

.label{
  margin: 0;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  border-radius: 5pt;
}

@media only screen and (max-width: 600px) {
  .row{
    flex-direction: column;
  }
}


textarea{
  min-height: 250px;
  max-width: 500px;
  font-weight: bold;
}


.list a{
  color: gray;
  font-weight: bold;
}

.list a:hover {
   color: #B5B5B5;
   text-decoration:none;
}

a:hover{
  color: #B5B5B5;
}

ul {
list-style-type: none;
}

.grass{
  color: #c8c8a9;
}

.raspberry-font{
  color: #ef4566;
}
.raspberry{
  background-color: #ef4566;
  color: white;
}

.light-pink{
  background-color: #F69A9A;
}

.cold-green-font{
  color: #83ae9b;
}

.cold-green{
  background-color: #83ae9b;
  color: white;
}


.purple-border .form-control:focus {
    border: 1px solid #ba68c8;
    box-shadow: 0 0 0 0.3rem rgba(239, 69, 102, 0.3);
}

.purple-border input{
  padding: 4px;
  border-radius: 5px;
}

.transparent_button{
  background: rgba(255, 255, 255, 0.2);
  color: white;
}

.cold-pink-font{
  color: #cf99a3;
}


.jumbotron{
  background: rgba(	255, 255, 255, 0.7);
  color: black;
  font-size: medium;
}

.jumbotron h2{
  color: #ef4566;
}

.results-background{
  background: rgba(255, 255, 255, 0.7);
  border-radius: 15px;

}

#oilChart{
  max-width: 400px;
}

#donutChart{
  max-width: 400px;
}

canvas{
    margin: 0 auto;
    margin-bottom: 5pt;
}

.transparent_background{
  background: rgba(255, 255, 255, 0.2);
}

hr {
  display: block;
  margin-top: 0em;
  margin-bottom: 0em;
  padding-top: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
}

.text-large{
  font-size: 72px;
  color: white;
}
